* {
    font-family: 'Open Sans', sans-serif;
    --primary: rgb(140, 0, 255);
    --dark: rgb(41, 4, 41);
}

body {
    margin: 0;
    color: rgb(44, 41, 44);
    background-color: rgb(247, 239, 247);
}

#main-header {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(89, 9, 121, 0.8942927512801996) 57%, rgba(140, 0, 255, 1) 85%);
    color: white;
    padding: 2rem 3%;
    text-align: center;
}

#main-header h1 {
    margin-top: 0;
}

.buttons {
    padding: 0.5rem 1rem;
    background-color: var(--primary);
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-alt {
    background-color: transparent;
    border-color: transparent;
    color: var(--primary);
}

.buttons:hover {
    background-color: rgb(79, 0, 190);
}

.btn-alt:hover {
    background-color: rgb(231, 210, 248);
    border: transparent;
}